* {
    box-sizing: border-box;
  } 
  
  .change-password-parent-container {
    height: 100vh;
    width: 80vw;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  
  .change-password-container {
    margin: auto;
    padding-top: 5%;
    width: 50rem;
    max-width: 90%;
  }
  .change-password-container form {
    width: 100%;
    height: 100%;
    padding: 2rem;
    border-radius: 0.4rem;
    box-shadow: 0 0 1.5rem grey;
    border: 1px solid #024074;
  }
  .change-password-container form h1 {
    text-align: center;
    margin-bottom: 2.4rem;
    color: black;
  }
  .change-password-container form label {
    font-size: 2rem;
  }
  .change-password-container form .form-control {
    width: 100%;
    height: 4rem;
    /* background: white; */
    border-radius: 0.4rem;
    border: 0.1rem solid silver;
    margin: 1rem 0 1.8rem 0;
    padding: 0 1rem;
  }
  .change-password-container form .btn {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 12rem;
    height: 3.4rem;
    border: none;
    /* outline: none; */
    background: #024074;
    cursor: pointer;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: white;
    border-radius: 0.4rem;
    /* transition: .3s; */
  }
  .change-password-container form .btn:hover {
    opacity: 0.7;
  }
  .change-password-container form a {
    padding-left: 34rem;
    font-size: 1.5rem;
    text-decoration: none;
  }
  